/* 基础样式 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 导航栏样式 */
header {
  background: #034e10;
  color: #fff;
  padding-top: 10px;
  min-height: 60px;
  border-bottom: #0d8938 3px solid;
  width: 100%;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

header ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

header li {
  display: inline;
  padding: 0 100px 0 100px;
}

header li:hover {
  background: #044d06;
}

header a:hover {
  outline: none;
}

/* 视频容器样式 */
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 保持 16:9 的宽高比 */
  width: 800px; /* 设置固定宽度为 800px，与卡片一致 */
  margin: 20px auto; /* 上下外边距为 20px，水平居中 */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 欢迎标题样式 */
.welcome-title {
  font-size: 32px;
  font-family: 'SimHei', '黑体', sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

/* 页面内容容器 */
.content {
  max-width: 800px; /* 保持宽度一致 */
  margin: 20px auto; /* 上下间距20px，左右自动居中 */
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; /* 添加边框 */
}

.content h2 {
  color: #333;
  text-align: center; /* 标题居中 */
  border-bottom: 2px solid #034e10; /* 添加下边框 */
  padding-bottom: 10px; /* 添加底部间距 */
  margin-bottom: 20px; /* 添加标题与内容的间距 */
}

/* 卡片样式 */
.card {
  width: 800px; /* 设置固定宽度为 800px */
  margin-bottom: 20px;
  padding: 15px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin-left: auto; /* 水平居中对齐 */
  margin-right: auto; /* 水平居中对齐 */
}

.card img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%; /* 图片圆角 */
  object-fit: cover;
}

.card a {
  text-decoration: none;
  color: #007BFF;
  font-size: 16px; /* 文字大小 */
  flex: 1; /* 让文字部分占据剩余空间 */
}

.card a:hover {
  text-decoration: underline;
}